@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
  outline: none;
  list-style: none;
  font-family: "poppins";
}
body {
  background-image: url(../images/Background\ Image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-container {
  display: flex;
  gap: 20px;
}

.container {
  padding: 10px 20px;
  min-height: 100vh;
  min-width: 250px;
  max-width: 250px;
  padding: 0px 20px;
  background-color: #1604307c;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  backdrop-filter: blur(50px);
}
.container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.saidbare{
  position: sticky;
  top: 0;
}
.todo {
  text-align: center !important;
  padding: 20px !important;
}
.todo  a{
  font-size: 30px !important;
  color: white !important;
  text-transform: capitalize !important;

}
.container ul li {
  padding: 8px 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  transition: 0.3s ease;
}
.container ul li:hover a {
  padding-left: 20px;
}
.profile {
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: center;
  align-items: center;
}
.profile a {
  text-transform: capitalize;
  font-size: 20px;
}

.container ul li a,
i {
  color: white;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  transition: 0.3s ease;
}
.container ul li h1 {
  font-size: 25px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;

  padding: 10px 20px;
  text-transform: capitalize;
  color: white;
}
.container ul li p {
  font-size: 18px;
  font-weight: 600;
  color: black;
  text-transform: capitalize;
  color: white;
}
.container li img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
}
.taskes-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}
.header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(90% - 40px);
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  background-color: #00000093;
  backdrop-filter: blur(40px);
  border-radius: 30px;
  margin-top: 10px;
}
.header ul li a img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}
.header ul li h1 {
  color: white;
  font-size: 25px;
  font-weight: 700;
  text-transform: capitalize;
}
.header ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.taskes-container {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.table {
  width: calc(90% - 80px);
  background-color: #00000046;
  backdrop-filter: blur(40px);
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: auto;
  border-radius: 40px;
}
.table .info-task h1 {
  text-transform: capitalize;
  color: white;
  font-size: 30px;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}
.table table {
  width: 100%;
}

.alltsaks {
  background-color: white !important;
  border-radius: 0px !important;
}
.info-task {
  width: 100% !important;
}

.form {
  width: 100%;
  margin-bottom: 10px;
  background-color: #1604307c;
  border-radius: 30px;
}
.form form {
  gap: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px 40px;
}
form h1 {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 77px;
  font-weight: bold;
  margin-bottom: 10px;
}
form label {
  color: white;
  width: 100%;
  font-size: 15px;
  font-weight: bold;

  text-transform: lowercase;
  display: flex;
  justify-content: start;
  align-items: center;

  gap: 10px;
}
.suces {
  color: green !important;
}
form h3 {
  width: 100px;
}
form input ,select {
  color: white;
  background-color: #00000045;
  padding:  10px;
  flex: 1;
  border-radius: 10px;
  margin-bottom: 5px;
}

form .btns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
form .form-info {
  flex: 1;
}
form button {
  width: 100px;
  padding: 10px;
  background: linear-gradient(90deg, #501794 0%, #3e70a1 100%);
  border-radius: 10px;
  font-size: 15px;
  text-transform: capitalize;
  color: white;
  font-weight: 600;
}

form p {
  color: red;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  width: 100%;
  text-align: center;
  margin: 10px;
}
form p a {
  color: white;
}
.info {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px 30px;
}
.info h1 {
  font-size: 50px;
  color: white;
}

.allmsg{
  color: red;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: 10px;
}
.add-task {
  position: fixed;
  bottom: 27px;
  right: 14px;
}

.add-task i {
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 50%;
  background-color: #4f17949b;
  color: wheat;
  font-size: 31px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
